---
name: CI
on:
  pull_request:
    branches: [master]
  push:
    branches: [master]
permissions:
  pull-requests: write
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - run: gh pr review -R "$GITHUB_REPOSITORY" -a ${{ github.event.pull_request.number }}
