---
name: actionlint
on:
  pull_request:
    branches: [master]
jobs:
  default:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: aquaproj/aqua-installer@v0.6.0
      with:
        aqua_version: v0.10.0
    - run: actionlint
