---
name: CI
on:
  pull_request:
    branches: [master]
  push:
    branches: [master]
jobs:
  build:
    runs-on: ubuntu-latest
    environment: {}
    steps:
    - uses: actions/checkout@v2
    - uses: aquaproj/aqua-installer@v0.6.0
      with:
        aqua_version: v0.10.1
    - run: ci-info run
      env:
        GITHUB_TOKEN: ${{ github.token }}
