---
name: test-go-action
on:
  pull_request:
    branches: [master]
  push:
    branches: [master]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: suzuki-shunsuke/test-github-action-with-go@main
    - uses: suzuki-shunsuke/test-github-action-with-go@v0.1.0-2
