---
name: Test
on:
  pull_request:
    branches: [main]
  push:
    branches: [main]
jobs:
  foo:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: suzuki-shunsuke/update-commit-status-action@feat/first-pr
        with:
          repo_owner: suzuki-shunsuke
          repo_name: test-github-action
          sha: fae4b30052b48f38129f98dfc0bf3bae470eaf01
          context: ${{ github.job }}
      - run: sleep 20
      - uses: suzuki-shunsuke/update-commit-status-action@feat/first-pr
        if: always()
        with:
          repo_owner: suzuki-shunsuke
          repo_name: test-github-action
          sha: fae4b30052b48f38129f98dfc0bf3bae470eaf01
          context: ${{ github.job }}
          state: ${{ job.status }}
