---
name: Test
on:
  pull_request:
    branches: [main]
  push:
    branches: [test-ref-sha]
jobs:
  foo:
    runs-on: ubuntu-latest
    steps:
      - run: echo "GITHUB_SHA: $GITHUB_SHA"
      - run: echo "GITHUB_REF: $GITHUB_REF"
